/* Global Styles */
body {
    background-color: #121212; /* Dark gray background */
    color: #e0e0e0; /* Light gray text color for readability */
}
  
/* Offcanvas Sidebar Styles */
.offcanvas {
    background-color: #343a40; /* Bootstrap dark background */
    color: #ffffff; /* White text color for contrast */
}
  
/* Close Button Customization */
.offcanvas-header .btn-close {
    filter: invert(1); /* Inverts icon color to white */
}

.offcanvas-header .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas-header .btn-close svg {
    color: white; /* Sets SVG color to white */
}
  
/* Navigation Links Styles */
nav ul {
    list-style-type: none; /* Removes bullets */
    padding-left: 0; /* Removes padding */
}

nav li {
    padding: 10px 0; /* Vertical padding */
}

nav li a {
    color: #ffffff; /* Link color */
    text-decoration: none; /* Removes underline */
    display: block; /* Block display for full width */
    padding: 10px; /* Padding */
}

nav li:hover, nav li:focus-within {
    background-color: #ffffff; /* Background color on hover/focus */
    border-radius: 5px;
}

nav li:hover a, nav li:focus-within a {
    color: #000000; /* Text color on hover/focus */
}
  
/* Hamburger Icon and Custom Button Styles */
.hamburger {
    display: inline-block;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.change .bar1 { transform: rotate(-45deg) translate(-5px, 6px); }
.change .bar2 { opacity: 0; }
.change .bar3 { transform: rotate(45deg) translate(-5px, -6px); }
  
.btn-dark-custom {
    background-color: #343a40;
    color: #ffffff;
    border-color: #343a40;
}

.btn-dark-custom:hover, .btn-dark-custom:focus, .btn-dark-custom:active, .btn-dark-custom.active, .btn-dark-custom:active:focus {
    background-color: #282c34; /* Darker on interaction */
    border-color: #202428;
    box-shadow: none;
}
  
/* Cards and Panels */
.card, .panel {
    background-color: #1e1e1e; /* Slightly lighter dark shade */
    color: #ffffff; /* Readable text */
}
  
/* Login and Logout Styling */
.sidebar-login-box {
    margin-top: auto; /* At the bottom of sidebar */
    padding: 20px;
    background-color: #f8f9fa; /* Light background */
    border-radius: 8px;
}

.sidebar-login-box h5, .sidebar-login-box form .mb-3, .sidebar-login-box .btn-primary {
    margin-bottom: 15px;
}
  
.logout-div {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Left aligned */
    gap: 10px; /* Space between elements */
    width: 100%;
    height: 80px;
    padding: 20px;

    background-color: #1C1B31;
    /* border-radius: 5px; */
}

.logout-button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.logout-name {
    color: white; /* Text color */
    text-decoration: none; /* No underline */
}
  