/* Assuming the overlay is already correctly styled and centered in the viewport. */

.modal-content {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    width: auto; /* Adjust width as needed or use max-width for responsiveness */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Adjust for desired shadow strength */
}

/* Modal header not needed as there's no visible header section in the image provided. */

/* Modal body styles for confirmation */
.modal-body {
    font-family: 'Arial', sans-serif; /* Example font, adjust as needed */
}

/* Warning icon */
.warning-icon {
    width: 48px; /* Adjust based on your icon's resolution */
    height: 48px; /* Adjust based on your icon's resolution */
    margin: 20px auto; /* Centers the icon with margin and sets space */
}

/* Title styles */
.modal-body h1 {
    font-size: 22px; /* Large font size for the title */
    color: #333333; /* Dark font color for contrast */
    font-weight: bold;
    margin: 16px auto; /* Space above and below the title */
}
.modal-image {
    float: center; /* Aligns the image to the left */
    max-width: 150%; /* Adjusts the maximum width of the image */
    max-height: 150px; /* Sets the maximum height of the image */
    border-radius: 10px; /* Rounds the corners of the image */
    padding: 3%
  }

/* Body content styles */
.modal-body p {
    font-size: 16px; /* Adjust as needed */
    margin: 16px auto 32px; /* More space below the paragraph */
}

/* Confirm button styles */
.modal-confirm-button {
    background: linear-gradient(120deg, #9575cd, #7986cb); /* Example gradient, adjust as needed */
    color: white;
    padding: 10px 24px; /* Adjust as needed */
    font-size: 16px;
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    margin-right: 8px; /* Space to the right */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Button shadow for depth */
}

/* Cancel button styles */
.modal-cancel-button {
    background: none;
    border: none;
    color: #333333; /* Match the modal text color */
    padding: 10px 24px; /* Same padding as the confirm button for consistency */
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px; /* Consistent rounded corners */
}

/* You may need to include media queries to ensure responsiveness on different devices */
