/* Button container styles */
.modal-button-container {
    display: flex;
    justify-content: space-between; /* This will place one button on the left, the other on the right */
    margin: 0 0; /* Spacing above and below the button container */
}

/* Confirm button styles */
.modal-confirm-button {
    background: #7949FF; /* Placeholder color, replace with your gradient start color */
    color: white;
    padding: 14px 24px; /* Adjust padding as needed */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0 0 50px 0; /* Rounded on the left side */
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    flex: 1; /* Allows the button to grow and take available space */
    
}

/* Cancel button styles */
.modal-cancel-button {
    background: #d3cee0;
    color: black;
    font-weight: bold;
    padding: 20px 24px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 0 0 0 50px; /* Rounded on the right side */
    flex: 1; /* Allows the button to grow and take available space */
   
    box-shadow: none;
}

/* Hover effects */
.modal-confirm-button:hover {
    background: #5633b7; /* Lighter color on hover */
}

.modal-cancel-button:hover {
    background: #afa7c5; /* Indicate that it's clickable */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .modal-button-container {
        flex-direction: column; /* Stack buttons vertically on smaller screens */
    }
    
    .modal-confirm-button,
    .modal-cancel-button {
        border-radius: 20px; /* Rounded corners on both sides for stacked layout */
        margin: 10px 0; /* Space between stacked buttons */
        padding: 14px 0; /* Adjust padding for a taller button on smaller screens */
    }
    .warning-icon {
        width: 50px; /* Adjust the width as needed */
        height: 50px; /* This will maintain the aspect ratio of the image */
        display: block;
        margin: 20px auto; /* This centers the image horizontally and adds space above and below */
        
    }
    
}
