/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 1.5rem;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
  }
  
  .modal-header button {
    border: none;
    background: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #7949FF;
    cursor: pointer;
  }
  
  .modal-apply-button {
    display: block;
    margin: auto;
    width: 40%;
    padding: 0.75rem;
    border: none;
    border-radius: 18px;
    background-color: #7949FF; /* Button color to match the design */
    color: white;
    font-size: 1rem; /* Adjusted font size */
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
  
    /* New hover effect */
  }
  .modal-apply-button:hover {
    background-color: #5633b7; /* New background color on hover */
  }
  

  .modal-header h1 {
    color: #7949FF;
    
    margin: auto;
    margin-bottom: 1rem;
  }
  
  .modal-body p {
    color: #555;
    line-height: 1.6;
  }
  
  .modal-image img {
    float: left; /* Aligns the image to the left */
    max-width: 100%; /* Adjusts the maximum width of the image */
    max-height: 200px; /* Sets the maximum height of the image */
    border-radius: 10px; /* Rounds the corners of the image */
  }
  
  