.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #261E35; 
  }
  
  .register-container {
    background: #ffffff;
    padding: 3rem;
    border-radius: 30px;
    width: 100%;
    max-width: 500px; /* Adjusted for the registration form */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 2rem; /* Added space between logo and form */
  }
  
  .register-container h2 {
    color: #7949FF; /* Changed to match the Login header color */
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
    color: #121212;
    text-align: left;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #ddd;
    border-radius: 18px;
    box-sizing: border-box;
  }
  
  .btn-submit {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 18px;
    background-color: #7949FF; /* Button color to match the design */
    color: white;
    font-size: 1rem; /* Adjusted font size */
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .btn-submit:hover {
    background-color: #5633b7;
  }
  
  .register-logo {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .register-logo img {
    max-width: 90%; /* Adjusted for the registration form */
    height: auto;
  }
  