.select-path-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #261E35; /* Assuming a light grey background */
    padding: 2rem;
  }
  
  .select-path-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .select-path-header img {
    width: 120px; /* Adjust size as needed */
    margin-bottom: 1rem;
  }
  
  .select-path-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Creates a responsive grid */
    gap: 1rem;
    width: 100%;
    max-width: 1200px; /* Adjust based on the desired maximum width */
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card img {
    width: 100px; /* Adjust as needed */
    height: auto;
  }
  
  .card-title {
    font-size: 1.2rem;
    color: #333;
    margin: 1rem 0;
  }
  
  .card-link {
    color: #7949FF; /* Assuming a purple color for the links */
    text-decoration: none;
    font-weight: bold;
    background: none; /* Remove any background */
    border: none; /* Remove any border */
  }
  .cards-container {
    background-color: #ffffff; /* White background */
    border-radius: 16px; /* Rounded corners */
    padding: 2rem; /* Space inside the container */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for some depth */
    margin-top: 2rem; /* Extra space from the title */
    width: calc(100% - 4rem); /* Container width taking into account padding */
    max-width: 1200px; /* Maximum width */
  }
  
  /* Rest of the styles remain unchanged */
  